nfl-data-py
xgboost
scikit-learn
pandas
numpy==1.24.0
pyreadr
clearml
dash
jupyter-dash
dash-bootstrap-components
bayesian-optimization
statsmodels
seaborn
hyperopt
git+https://github.com/hyperopt/hyperopt-sklearn
pytest
lightgbm
--extra-index-url=https://pypi.nvidia.com
cudf-cu12
cuml-cu12
cupy-cuda12x
pynvml
optuna